#heading
{
    text-align: center;
    font-size: 4rem;
}

#city-input
{
    width:60%;
}

.container-2
{
    display: flex;
    gap:10px;
}
.forecast-card .card {
      background: linear-gradient(to top, #00c6ff, #0072ff);
      border-radius: 16px;
      color: white;
      transition: transform 0.3s ease;
    }

    .forecast-card .card:hover {
      transform: translateY(-5px);
    }

    .forecast-card img {
      width: 50px;
      margin-bottom: 1rem;
    }

   @media (max-width: 992px) {
  .forecast-card {
    flex: 1 1 45% !important;
    max-width: 45% !important;
  }
}

@media (max-width: 576px) {
  .forecast-card {
    flex: 1 1 90% !important;
    max-width: 90% !important;
  }
}
