body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      background-color: #212529;
     min-height: 100vh;
}

.big-container
{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: #212529;
     height: 100vh;
    /* /* align-items: center; */
} 
.container
{
    /* background-color:#4d80b3; */
    margin-top:10px;
    color: #5A7DFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}

#display-stopWatch
{
    font-size: 5rem;
    font-weight:bolder;
    color: aliceblue;
}

.custom-dark-card {
  background-color: #343A40; /* dark grey */
  color: white;
}

/* Optional: make list items match the card */
#lap-display .list-group-item {
    background-color: #343A40; /* dark grey */
  color: white;

}
.btn-container{
   
   /* width:400px;

   display: flex;
   gap: 40px;
   justify-content: center; */

    display: flex;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* allow it to shrink */
   

}

.btn-container .btn {
    flex: 1 1 30%; /* shrink/grow basis 30% */
    min-width: 100px;
}