.body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container
{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color:#212529;
    height: 600px;
    /* /* align-items: center; */
} 
.container
{
    /* background-color:#212529; */
    margin-top:10px;
    color: #5A7DFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}

#display-stopWatch
{
    font-size: 5rem;
    font-weight:bolder;
    color: aliceblue;
}

.custom-dark-card {
  background-color: #343A40; /* dark grey */
  color: white;
}

/* Optional: make list items match the card */
#lap-display .list-group-item {
    background-color: #343A40; /* dark grey */
  color: white;

}
.btn-container{
   
   width:400px;
   /* background-color: #5A7DFF; */
   display: flex;
   gap: 40px;
   justify-content: center;
   

}